<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        body {
            font-size: 18px;
        }
        h1 {
            font-size: 50px;
        }
        label {
            font-size: 30px;
        }
        input[type="text"],
        input[type="password"],
        input[type="date"],
        input[type="submit"],
        button {
            font-size: 25px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>
        
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" required><br>
        
        <label for="birthdate">Birthdate:</label>
        <input type="date" id="birthdate" name="birthdate" required><br>
        
        <input type="submit" value="Register">
    </form>
    <a href="/login"><button type="button">Login</button></a>
    {% if output %}
        <p>{{ output }}</p>
    {% endif %}
</body>
</html>